.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding: 0 1.5rem;

  color: var(--white);
  font-weight: bold;

  svg {
    width: 2rem;
    height: 2rem;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.8);
  }

  svg.closedIcon {
    margin-left: 1rem;
    width: 1.6rem;
    height: 1.6rem;
  }
}
