#container {
  position: fixed;
  left: 3rem;
  bottom: 3rem;

  width: 40rem;

  height: 10rem;
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  z-index: 2;
  border-radius: 0.8rem;
  border: 1px solid #333;

  animation: left-to-right 300ms forwards ease-in-out;
}

#container p {
  font-size: 1.7rem;
  color: var(--white);
  margin-top: 0;
}

#container.error {
  background: var(--error);
}

#container.success {
  background: var(--success);
}

@keyframes left-to-right {
  0% {
    left: -40rem;
  }

  100% {
    left: 3rem;
  }
}
